.image-content {
    display: flex;
    align-items: center;
    justify-content: center;
    .bg-image {
        background-image: url("../../Assets/images/pankod-logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 103px;
        width: 515px;
    }
}
